Repository 100-debug-hours/audio-guesser, pull requests merged in 2020-01, with the labels that each got.

#11 feat(bootstrap): bootstraped backend
  .github/workflows/ci.yml
  backend/.cargo/config
  backend/.gitignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/README.md
  backend/src/config.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/static/.gitkeep
  backend/xtask/Cargo.lock
  backend/xtask/Cargo.toml
  backend/xtask/src/main.rs
Labels: backend

#17 Removed backend dist build
  .github/workflows/ci.yml
  backend/xtask/Cargo.lock
  backend/xtask/Cargo.toml
  backend/xtask/src/main.rs
  bootstrap.sh
Labels: backend, devops

#16 Htmlcss by danya
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/assets/note_icon.png
  frontend/src/assets/text_icon.png
Labels: frontend
